<div class="sidebar">
  <div>
    <h5>Search:</h5>
    <button href="#" class="btn btn-sm btn-primary mt-1">
      Search
    </button>
    <hr />
    <div class="mt-3">
      <%= link_to 'Add New Employee', new_employee_path, class: 'nav-link' %>
    </div>
  </div>
</div>
