<div class="sidebar">
  <div>
    <div class="mt-3">
      <%= link_to 'Back to All Groups', groups_path, class: 'nav-link' %>
    </div>
    <hr/>
    <%= form_with url: "/groups/4/add_employee", method: :post, local: true do |form| %>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label class="col-form-label pb-0">Add Employee to Group:</label>
          <input type="select" name="employee_id" class="form-control">
            <select value="13">employee1</select>
          </input>
        </div>
      </div>
      <button type="submit" class="btn btn-sm btn-primary my-1" >
        Add Employee
      </button>
    <% end %>
    <hr />
  </div>
</div>
