
<div class="col-sm-12" id="Admin-Content">
  <% flash.each do |key, value| %>
    <p id="notice"><%= value %></p>
  <% end %>
  <div class="py-3 px-5">
    <h1>You have not been found in our system.</h1>
  </div>
</div>