<% content_for :content do %>
  <div class="col-sm-12" id="Admin-Content">
    <%= render 'shared/flash_messages' %>
    <div class="py-3 px-5">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>